/* Raleway */
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
/* JetBrains Mono */
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
/* Indie Flower */
@font-face {
    font-family: "Indie Flower";
    src: url("fonts/IndieFlower-Regular.ttf");
    font-weight: 400;
}

:root {
    --black: #000000;
    --offblack: #161616;
    --midgrey: #66666e;
    --lightgrey: #acacb0;
    --offwhite: #f2f2f2;
    --white: #ffffff;
    --red: #f2545b;
    --blue: #02a9ea;
    --green: #6ccc74;
    --orange: #ec9703;
    --yellow: #f1d302;
    --purple: #c3bef7;

    --body: "Raleway";
    --heading: "Raleway";
    --code: "JetBrains Mono";
    --stylish: "Indie Flower";

    /* defaults */
    font-family: var(--body)
}

/** Base PsychoPy style **/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
}

pre,
code {
    font-family: var(--code);
}

/** Apply to material **/

[data-md-color-scheme="psychopy"] {
    /* fonts */
    --md-text-font-family: var(--body);
    --md-code-font-family: var(--code);
    /* main colors */
    --md-default-fg-color: var(--black);
    --md-default-bg-color: var(--white);
    --md-primary-fg-color: var(--black);
    --md-primary-bg-color: var(--white);
    --md-accent-fg-color: var(--red);
    --md-accent-bg-color: var(--white);
    /* footer colors */
    --md-footer-fg-color: var(--white);
    --md-footer-bg-color: var(--midgrey);


    /* code colors */
    --md-code-fg-color: var(--black);
    --md-code-bg-color: transparent;
    --md-code-hl-color: #4287ff;
    --md-code-hl-number-color: var(--blue);
    --md-code-hl-special-color: var(--red);
    --md-code-hl-function-color: var(--red);
    --md-code-hl-constant-color: var(--md-code-fg-color);
    --md-code-hl-keyword-color: var(--red);
    --md-code-hl-string-color: var(--lightgrey);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-code-fg-color);
    --md-code-hl-punctuation-color: var(--md-code-fg-color);
    --md-code-hl-comment-color: var(--green);
    --md-code-hl-generic-color: var(--md-code-fg-color);
    --md-code-hl-variable-color: var(--md-code-fg-color);

    /* api tag colors */
    --doc-symbol-attribute-fg-color: var(--red);
    --doc-symbol-attribute-bg-color: transparent;
    --doc-symbol-function-fg-color: var(--red);
    --doc-symbol-function-bg-color: transparent;
    --doc-symbol-method-fg-color: var(--red);
    --doc-symbol-method-bg-color: transparent;
    --doc-symbol-class-fg-color: var(--red);
    --doc-symbol-class-bg-color: transparent;
    --doc-symbol-module-fg-color: var(--red);
    --doc-symbol-module-bg-color: transparent;
}

.md-header {
    display: flex;
    flex-direction: row;
    padding: 0rem calc((100vw - 61rem) / 2) 0 calc((100vw - 61rem) / 2);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--offwhite);
    background-color: var(--white);
    color: var(--offblack);
}
.md-tabs {
    display: flex;
    align-items: center;
    width: auto;
}
@media screen and (max-width: 76.234375em) {
    .md-tabs {
        display: none;
    }
}

.md-header--shadow {
    box-shadow: none;
}

.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
    width: auto;
    height: 5rem;
    margin-bottom: -2rem;
}

.md-tabs,
.md-nav__title {
    background-color: transparent;
    color: var(--offblack);
}

.md-tabs__list {
    justify-content: end;
    align-items: center;
}

.md-tabs__item {
    height: auto;
}

.md-tabs__item a,
.md-header__source {
    margin: auto;
    padding: 0.5em;
    border-radius: 0.1em;
}

.md-tabs__item a[href="https://psychopy.org/"] {
    border: 2px solid var(--offwhite);
}
.md-tabs__item a[href="https://psychopy.org/"]:after {
    content: ">";
    padding-left: 1rem;
}
.md-tabs__item--active {
    font-weight: bold;
}

.md-footer-meta__inner {
    flex-direction: row-reverse;
}
.md-copyright {
    text-align: right;
}

.md-typeset blockquote,
[dir=ltr] .md-typeset blockquote {
    border-left: none;
    color: var(--offblack);
}